<div id="review" class="tab-pane" role="tabpanel">
    <div class="table-responsive">
        <table class="table table-hover">
            <caption><h1 class="text-muted text-center">题目初次审核</h1></caption>
            <thead>
            <th width="4%">No.</th>
            <th width="8%">范围</th>
            <th>题目</th>
            <th>附加</th>
            <th>答案</th>
            <th width="8%">创建人</th>
            <th width="8%">创建时间</th>
            <th width="8%">修改时间</th>
            <th width="8%">操作</th>
            </thead>
            <tbody>
            <td colspan="9">暂无数据</td>
            </tbody>
        </table>
    </div>
</div>