<nav class="navbar navbar-default navbar-static-bottom" id="Footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-8">
                    <p class="text-left" style="margin-top:5%;margin-bottom:3%;">© 2017 Centercom Global BPO</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p class="text-right" style="margin-top:5%;margin-bottom:8%;font-size:1em;">Privacy Policy</p>
                </div>
            </div>
        </div>
    </div>
</nav>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/lib/MathJax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/javascript" src="static/lib/ckeditor5/ckeditor.js"></script>
<script type="text/javascript" src="static/lib/ckeditor5/translations/zh-cn.js"></script>
<script type="text/javascript" src="static/js/manage.js"></script>