<nav class="navbar navbar-default" id="Header">
    <div class="container-fluid">
        <div class="navbar-header">
            <div>
                <a class="navbar-brand" href="/LS">后台管理系统</a>
                <div class="pull-left">
                    <a href="javascript:void(0);" class="navbar-brand" title="菜单" data-toggle="tooltip" data-placement="right"
                       data-for="main" data-for2="main_menu" data-val="off"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                </div>
            </div>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation"><a href="/LS/logOut" disabled>退出</a></li>
                <!--<li role="presentation"><a href="#" disabled>暂未开启</a></li>
                <li role="presentation"><a href="#" disabled>暂未开启</a></li>-->
            </ul>
        </div>
    </div>
</nav>