<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lzhphantom-math后台管理</title>
    <link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/simple-footer.css">
    <link rel="stylesheet" href="/static/css/manage.css">
    <link rel="stylesheet" href="/static/css/basic.css">
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
</head>

<body>
{{template "admin/manage-nav.html"}}
<div class="container-fluid" id="Content-Body">
    <div class="row">
        <div id="main" class="col-xs-3">
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li class="active" role="presentation">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i
                                class="glyphicon glyphicon-bold"></i>基础知识</a>
                </li>
                <li role="presentation">
                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i
                                class="glyphicon glyphicon-circle-arrow-up"></i>题目上传</a>
                </li>
                <li role="presentation">
                    <a href="#messages" aria-controls="profile" role-tab="rank" role="tab" data-toggle="tab"><i
                                class="glyphicon glyphicon-stats"></i>统计</a>
                </li>
                <li role="presentation">
                    <a href="#settings" aria-controls="profile" role="tab" data-toggle="tab"><i
                                class="glyphicon glyphicon-user"></i>用户管理</a>
                </li>
                <li role="presentation">
                    <a href="#review" aria-controls="profile" role="tab" role-tab="review" data-toggle="tab"><i
                                class="glyphicon glyphicon-education"></i>题目审核</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-9 tab-content" id="main_menu">
            {{template "admin/manage-basic.html"}}
            {{template "admin/manage-upload.html"}}
            {{template "admin/manage-studentRanking.html"}}
            {{template "admin/manage-userManage.html"}}
            {{template "admin/manage-review.html"}}
        </div>
    </div>
</div>
{{template "admin/manage-footer.html"}}
</body>

</html>