<div id="settings" class="tab-pane" role="tabpanel">
    <div id="userModal">
        <div>
            <h1 class="text-center">
                <a href="javascript:void(0);" class="btn btn-primary btn-block" for-id="#studentManage">学生管理</a>
            </h1>
        </div>
        <div>
            <h1 class="text-center">
                <a href="javascript:void(0);" class="btn btn-primary btn-block" for-id="#teacherManage">教师管理</a>
            </h1>
        </div>
        <div>
            <h1 class="text-center">
                <a href="javascript:void(0);" class="btn btn-primary btn-block" for-id="#adminManage">管理员管理</a>
            </h1>
        </div>
        <div>
            <h1 class="text-center">
                <a href="javascript:void(0);" class="btn btn-primary btn-block" for-id="#userAdd">用户添加</a>
            </h1>
        </div>
        <div>
            <h1 class="text-center">
                <a href="javascript:void(0);" class="btn btn-primary btn-block" for-id="#userModify">用户修改</a>
            </h1>
        </div>
    </div>

    <div id="studentManage" class="hidden">
        <h1 class="text-center text-muted">学生管理</h1>
        <div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>编号</td>
                    <td>姓名</td>
                    <td>性别</td>
                    <td>电话</td>
                    <td>地址</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="userBackGroup">
            <a class="btn btn-success btn-lg" onclick="backToUserModal(this)">返回</a>
        </div>
    </div>
    <div id="teacherManage" class="hidden">
        <h1 class="text-center text-muted">教师管理</h1>
        <div id="userBackGroup">
            <a class="btn btn-success btn-lg" onclick="backToUserModal(this)">返回</a>
        </div>
    </div>
    <div id="adminManage" class="hidden">
        <h1 class="text-muted text-center">管理员管理</h1>
        <div id="userBackGroup">
            <a class="btn btn-success btn-lg" onclick="backToUserModal(this)">返回</a>
        </div>
    </div>
    <div id="userAdd" class="hidden">
        <h1 class="text-center text-muted">用户添加</h1>
        <form action="" class="form-horizontal" id="userAddForm">
            <div class="form-group row">
                <label for="userName" class="control-label col-sm-1 col-sm-offset-4">用户名：</label>
                <input type="text" id="userName" name="userName" placeholder="输入用户名" class="col-sm-3">
            </div>
            <div class="form-group row">
                <label for="pwd" class="control-label col-sm-1 col-sm-offset-4">密码：</label>
                <input type="password" id="pwd" name="password" placeholder="输入密码" class="col-sm-2">
            </div>
            <div class="form-group row">
                <label for="pwd2" class="control-label col-sm-1 col-sm-offset-4">确认密码：</label>
                <input type="password" id="pwd2" name="password2" placeholder="再次输入密码" class="col-sm-2">
            </div>
            <div class="form-group row">
                <label for="name" class="control-label col-sm-1 col-sm-offset-4">姓名：</label>
                <input type="text" id="name" name="name" placeholder="姓名" class="col-sm-3">
            </div>
            <div class="form-group row">
                <label for="sex" class="control-label col-sm-1 col-sm-offset-4">性别：</label>
                <div class="col-sm-1">
                    <label for="man">男</label>
                    <input type="radio" name="sex" id="man">
                </div>
                <div class="col-sm-1">
                    <label for="woman">女</label>
                    <input type="radio" name="sex" id="woman">
                </div>
            </div>
            <div class="form-group row">
                <label for="tel" class="control-label col-sm-1 col-sm-offset-4">手机：</label>
                <input type="text" id="tel" name="tel" placeholder="手机号码" maxlength="11" minlength="11">
            </div>
            <div class="form-group row">
                <label for="city" class="control-label col-sm-1 col-sm-offset-4">地址：</label>
                <div data-toggle="distpicker">
                    <select data-province="---- 选择省 ----"></select>
                    <select data-city="---- 选择市 ----"></select>
                    <select data-district="---- 选择区 ----"></select>
                </div>
            </div>
            <div class="form-group row">
                <label for="userGroup" class="control-label col-sm-1 col-sm-offset-4">用户组：</label>
                <select id="userGroup" name="userGroup">
                    <option value="1">学生</option>
                    <option value="2">教师</option>
                    <option value="0">管理员</option>
                </select>
            </div>
            <div id="errorMessages" class="form-group row">
                <div id="error_tips" class="col-sm-offset-4"></div>
                <ul></ul>
            </div>
        </form>
        <div id="userBackGroup" class="form-group row">
            <div class="col-sm-offset-5">
                <a class="btn btn-primary btn-lg" id="userAdd">添加</a>
                <a class="btn btn-success btn-lg" onclick="backToUserModal(this)">返回</a>
            </div>
        </div>
    </div>
    <div id="userModify" class="hidden">
        <h1 class="text-muted text-center">用户修改</h1>
        <div id="userBackGroup">
            <a class="btn btn-success btn-lg" onclick="backToUserModal(this)">返回</a>
        </div>
    </div>
</div>