<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manage</title>
    <link href="static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/simple-footer.css">
    <link rel="stylesheet" href="static/css/manage.css">
    <link rel="stylesheet" href="static/css/basic.css">
    <link rel="shortcut icon" href="static/img/logo.png" type="image/x-icon">
</head>

<body>
{{template "admin/manage-nav.html"}}
<div class="container-fluid" id="Content-Body">
    <div class="row">
        <div id="main" class="col-sm-3 col-md-2">
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li class="active" role="presentation"><a href="#home" aria-controls="home" role="tab"
                                                          data-toggle="tab">基础知识</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">题目上传</a>
                </li>
                <li role="presentation"><a href="#messages" aria-controls="profile" role="tab" data-toggle="tab">统计</a>
                </li>
                <li role="presentation"><a href="#settings" aria-controls="profile" role="tab"
                                           data-toggle="tab">用户管理</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10 tab-content">
            {{template "admin/manage-basic.html"}}
            {{template "admin/manage-upload.html"}}
            {{template "admin/manage-studentRanking.html"}}
            {{template "admin/manage-userManage.html"}}
        </div>
    </div>
</div>
{{template "admin/manage-footer.html"}}
</body>

</html>