<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="static/img/logo.png" type="image/x-icon">
    <title>eqntest</title>
</head>
<body>
<a id="test">123</a>
<form action="">
    <textarea name="editor" id="editor1" cols="80" rows="10"></textarea>
</form>
<script src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/lib/MathJax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/javascript" src="static/lib/ckeditor5-build-classic/build/ckeditor.js"></script>
<script>
    // CKEDITOR.replace('editor1');
    function matchAll(str, reg) {
        var res = []
        var match
        while (match = reg.exec(str)) {
            res.push(match)
        }
        return res
    }

    ClassicEditor.create(document.querySelector('#editor1')).then(newEditor => {
        newEditor.model.document.on("change:data", () => {
            let data = newEditor.getData();
            let arr = data.split(/<p>|<\/p>/);
            for (let i = 0; i < arr.length; i++) {
                if (arr[i] == "") {
                    arr.splice(i, 1);
                    i--;
                }
            }
            let content = ``;
            for (let i = 0; i < arr.length; i++) {
                content += `<p>\\(` + arr[i] + `\\)</p>`;
            }

            if (content.length > 0) {
                $("#test").html(content);
                MathJax.Hub.Queue(["Typeset", MathJax.Hub, "test"]);
            } else {
                $("#test").html(data);
            }
        });
    });


</script>
</body>
</html>