<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数学训练基地</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="static/css/basic.css">
    <link rel="stylesheet" href="static/css/simple-footer.css">
    <link rel="shortcut icon" href="static/img/logo.png" type="image/x-icon">
</head>

<body>
<nav class="navbar navbar-default navbar-static-top" id="Header">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="#">Math</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right mr-20">
                <li class="active" role="presentation"><a href="#">First Item</a></li>
                <li role="presentation"><a href="#">Second Item</a></li>
                <li role="presentation"><a href="#" class="btn btn-primary">登录</a></li>
                <li role="presentation"><a href="#" class="btn btn-success">注册</a></li>
            </ul>
        </div>
    </div>
</nav id=id>
<div id="Content-Body" class="container">
    <div class="row">
        <div class="col-sm-3 hidden-xs">
            <div id="accroding2" class="panel-group">
                <div class="panel-heading">
                    <h3 class="text-center">数学</h3>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"><a
                                href="javascript:void(0);">基础知识</a></div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked nav-tabs" role="tablist">
                                <li role="presentation"><a href="#jihe" aria-controls="jihe" role="tab"
                                                           data-toggle="tab">集合<br></a></li>
                                <li role="presentation"><a href="#sjhs" aria-controls="sjhs" role="tab"
                                                           data-toggle="tab">三角函数、三角恒等变换与解三角形<br></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"><a
                                href="#">在线练习</a></div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">选择题</a></li>
                                <li><a href="#">填空题</a></li>
                                <li><a href="#">解答题</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree"><a
                                href="#">专项练习</a></div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">集合</a></li>
                                <li><a href="#">三角函数、三角恒等变换与解三角形</a></li>
                                <li><a href="#">函数与导数</a></li>
                                <li><a href="#">立体几何</a></li>
                                <li><a href="#">直线与圆</a></li>
                                <li><a href="#">圆锥曲线</a></li>
                                <li><a href="#">平面向量</a></li>
                                <li><a href="#">数列</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapse4"><a
                                href="#">上传试题</a></div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">选择题</a></li>
                                <li><a href="#">填空题</a></li>
                                <li><a href="#">解答题</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 tab-content">
            <div id="jihe" class="tab-pane fade in active" role="tabpanel">

            </div>
            <div id="sjhs" class="tab-pane fade" role="tabpanel">

            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-static-bottom" id="Footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-8">
                    <p class="text-left" style="margin-top:5%;margin-bottom:3%;">© 2017 Centercom Global BPO</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p class="text-right" style="margin-top:5%;margin-bottom:8%;font-size:1em;">Privacy Policy</p>
                </div>
            </div>
        </div>
    </div>
</nav>
<script src="static/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/lib/MathJax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script src="static/js/index.js"></script>
</body>

</html>