<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数学训练基地</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="static/css/basic.css">
    <link rel="stylesheet" href="static/css/simple-footer.css">
    <link rel="shortcut icon" href="static/img/logo.png" type="image/x-icon">
</head>

<body>
{{template "index-header.html"}}
<div id="Content-Body" class="container">
    <div class="row">
        <div class="col-sm-3 hidden-xs">
            <div id="accroding2" class="panel-group">
                <div class="panel-heading">
                    <h3 class="text-center text-muted">数学</h3>
                </div>
                <!-- 基础知识版块 -->
                <div class="panel panel-success">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"><a
                                href="javascript:void(0);">基础知识</a></div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked nav-tabs" role="tablist">

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 在线练习版块 -->
                <div class="panel panel-success">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"><a
                                href="#">在线练习</a></div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li role="presentation"><a href="#Select" aria-controls="Select" role="tab"
                                                           data-toggle="tab" role-tab="training">选择题</a></li>
                                <li role="presentation"><a href="#Blank" aria-controls="Blank" role="tab"
                                                           data-toggle="tab" role-tab="training">非选择题</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 专项练习版块 -->
                <div class="panel panel-success">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree"><a
                                href="#">专项练习</a></div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapse4"><a
                                href="#">上传试题</a></div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li role="presentation"><a href="#UploadSelect" aria-controls="SpecialPractice"
                                                           role="tab"
                                                           data-toggle="tab" role-tab="upload">选择题</a></li>
                                <li role="presentation"><a href="#UploadBlank" aria-controls="SpecialPractice"
                                                           role="tab"
                                                           data-toggle="tab" role-tab="upload">非选择题</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 tab-content">
            <div id="Basic">
                <div id="jihe" class="tab-pane fade in active" role="tabpanel">

                </div>
                <div id="sjhs" class="tab-pane fade" role="tabpanel">

                </div>
            </div>
            <div id="Training">
                <div id="Select" class="tab-pane fade" role="tabpanel">

                </div>
                <div id="Blank" class="tab-pane fade" role="tabpanel">
                </div>
            </div>
            <div id="SpecialPractice">

            </div>
            <div id="Upload">
                <div id="UploadSelect" class="hidden">
                    <h1 class="text-center text-muted">选择题上传</h1>
                    <form action="" class="text-muted">
                        <div class="form-group row">
                            <label for="showSelectContent" class="col-sm-2 control-label">题目：</label>
                            <div class="col-sm-10">
                                <a href="javascript:void(0);" onclick="showEditor(this,'#selectEditor','#backSelectGroup');"
                                   id="showSelectContent">暂无内容</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="showSelectA" class="col-sm-1 control-label">A.</label>
                            <div class="col-sm-5">
                                <a href="javascript:void(0);" onclick="showEditor(this,'#selectEditor','#backSelectGroup');"
                                   id="showSelectA">暂无内容</a>
                            </div>
                            <label for="showSelectB" class="col-sm-1 control-label">B.</label>
                            <div class="col-sm-5">
                                <a href="javascript:void(0);" onclick="showEditor(this,'#selectEditor','#backSelectGroup');"
                                   id="showSelectB">暂无内容</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="showSelectC" class="col-sm-1 control-label">C.</label>
                            <div class="col-sm-5">
                                <a href="javascript:void(0);" onclick="showEditor(this,'#selectEditor','#backSelectGroup');"
                                   id="showSelectC">暂无内容</a>
                            </div>
                            <label for="showSelectD" class="col-sm-1 control-label">D.</label>
                            <div class="col-sm-5">
                                <a href="javascript:void(0);" onclick="showEditor(this,'#selectEditor','#backSelectGroup');"
                                   id="showSelectD">暂无内容</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="showAnswerSelect" class="col-sm-1 control-label">答案：</label>
                            <div class="col-sm-5">
                                <select id="showAnswerSelect">
                                    <option value="-">==暂无答案==</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="content" id="selectEditor" class="hidden"></textarea>
                        </div>
                        <div class="form-group row" id="backSelectGroup">
                            <div class="col-md-3 col-md-offset-9">
                                <a class="btn btn-primary btn-lg" id="mulChoiceUpBtn">上传</a>
                            </div>
                            <div class="col-md-3 col-md-offset-9 hidden">
                                <a class="btn btn-primary btn-lg" onclick="backToLast('#backSelectGroup','#selectEditor');">确认</a>
                            </div>
                        </div>

                    </form>
                </div>
                <div id="UploadBlank" class="hidden">
                    <h1 class="text-center text-muted">非选择题上传</h1>
                    <form class="text-muted">
                        <div class="form-group row">
                            <label for="showSolve" class="col-sm-2 control-label">题目：</label>
                            <div class="col-sm-10">
                                <a href="javascript:void(0);" onclick="showEditor(this,'#solveEditor','#backSolveGroup');"
                                   id="showSolve">暂无内容</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="showAnswerSolve" class="col-sm-2 control-label">答案：</label>
                            <div class="col-sm-10">
                                <a href="javascript:void(0);" onclick="showEditor(this,'#solveEditor','#backSolveGroup');"
                                   id="showAnswerSolve" title="可填">暂无内容</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="content" id="solveEditor" class="hidden"></textarea>
                        </div>
                        <div class="form-group row" id="backSolveGroup">
                            <div class="col-md-3 col-md-offset-9">
                                <a class="btn btn-primary btn-lg" id="solveUpBtn">上传</a>
                            </div>
                            <div class="col-md-3 col-md-offset-9 hidden">
                                <a class="btn btn-primary btn-lg" onclick="backToLast('#backSolveGroup','#solveEditor');">确认</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "index-footer.html"}}
</body>

</html>