<nav class="navbar navbar-default navbar-static-top" id="Header">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="/">Math</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right mr-20">
                {{if .isExist}}
                    <li role="presentation"><a href="javascript:void(0);" onclick="UNACTION()">...</a></li>
                    <li role="presentation"><a href="javascript:void(0);" onclick="UNACTION()">个人中心</a></li>
                    <li role="presentation">
                        <div class="dropdown">
                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{.user.Name}}<span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <li><a href="/logout">退出</a></li>
                                <li><a data-toggle="modal" data-target="#changPassword">修改密码</a></li>
                            </ul>
                        </div>
                    </li>
                    <li role="presentation"><a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                {{else}}
                    <li role="presentation"><a class="btn btn-primary" data-toggle="modal"
                                               data-target="#login">登录</a></li>
                {{end}}
            </ul>
        </div>
    </div>
</nav>