<!-- 登录画面 -->
<div id="login" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">用户登录</h4>
            </div>
            <div class="modal-body">
                <form action="/login" method="post">
                    <div class="row">
                        <div class="form-group col-xs-4 col-sm-offset-4">
                            <label for="username" class="control-label">用户名：</label>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4 col-sm-offset-4">
                            <label for="password" class="control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-offset-5">
                            <button type="submit" class="btn btn-primary">登录</button>
                            <a class="btn btn-success" href="/toRegister">注册</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p class="text-center text-muted">欢迎来到lzhpahntom-Math训练基地</p>
            </div>
        </div>
    </div>
</div>
