<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>lzhphantom-Math 用户注册</title>
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/basic.css">
    <link rel="stylesheet" href="/static/css/index-header.css">
    <link rel="stylesheet" href="/static/css/simple-footer.css">
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
</head>
<body>
{{template "index-header.html" .}}
<!-- 注册画面 -->
<div id="Content-Body" class="container">
    <div id="register" class="row">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="myModalLabel">用户注册</h4>
                </div>
                <div class="modal-body">
                    <form action="/register" method="post" onsubmit="return checkRegister(this);">
                        <div class="row">
                            <div class="col-xs-4 col-sm-offset-2">
                                <div class="input-group input-group-lg ">
                                <span class="input-group-addon" id="basic-addon1"><i
                                            class="glyphicon glyphicon-user"></i></span>
                                    <input type="text" name="registerName" placeholder="请输入用户名"
                                           class="form-control" maxlength="20" minlength="6">
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-offset-1">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon" id="basic-addon1"><i class="icon-key"></i></span>
                                    <input type="password" name="pwd" class="form-control" placeholder="请输入密码" maxlength="20" minlength="8">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-offset-2">
                                <div class="input-group input-group-lg ">
                                <span class="input-group-addon" id="basic-addon1"><i
                                            class="glyphicon glyphicon-envelope"></i></span>
                                    <input type="email" name="email"  class="form-control"
                                           placeholder="请输入邮件">
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-offset-1">
                                <div class="input-group input-group-lg">
                                <span class="input-group-addon" id="basic-addon1"><i
                                            class="glyphicon glyphicon-earphone"></i></span>
                                    <input type="text" name="phone"  class="form-control"
                                           placeholder="请输入手机号" maxlength="11">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-offset-2">
                                <div class="input-group input-group-lg">
                                <span class="input-group-addon" id="basic-addon1"><i
                                            class="icon-name"></i></span>
                                    <input type="text" name="name" class="form-control"
                                           placeholder="请输入姓名" minlength="2" maxlength="20">
                                </div>
                            </div>
                            <div class="col-xs-5 col-sm-offset-1">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                    <input type="radio" name="sex" value="1">
                                  </span>
                                    <input type="text" class="form-control" value="男" readonly>
                                    <span class="input-group-addon">
                                        <input type="radio" name="sex" value="0">
                                    </span>
                                    <input type="text" class="form-control" value="女" readonly>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-offset-5">
                                <button type="submit" class="btn btn-success">注册</button>
                                <button type="reset" class="btn btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <p class="text-center text-muted">欢迎来到lzhpahntom-Math训练基地</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "index-footer.html"}}
</body>
</html>
