<nav class="navbar navbar-default navbar-static-bottom" id="Footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-8">
                    <p class="text-left" style="margin-top:5%;margin-bottom:3%;">© 2019 lzhphantm Math</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p class="text-right" style="margin-top:5%;margin-bottom:8%;font-size:1em;">Privacy Policy</p>
                </div>
            </div>
        </div>
    </div>
</nav>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/distpicker/2.0.5/distpicker.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        CommonHTML:{
            scale:90
        },
    });
</script>
<script type="text/javascript" src="/static/lib/ckeditor5/ckeditor.js"></script>
<script type="text/javascript" src="/static/lib/ckeditor5/translations/zh-cn.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/center.js"></script>
<script type="text/javascript" src="/static/js/canvas/desc.js"></script>
<script type="text/javascript" src="/static/lib/canvasjs/canvasjs.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.16/dayjs.min.js"></script>