<!-- 修改密码画面 -->
<div id="changPassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">修改密码</h4>
            </div>
            <div class="modal-body">
                <form action="/changePwd" method="post" onsubmit="return changeCheck();">
                    <div class="row">
                        <div class="form-group col-xs-4 col-sm-offset-4">
                            <label for="oldPwd" class="control-label">旧密码：</label>
                            <input type="password" name="oldPwd" id="oldPwd" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4 col-sm-offset-4">
                            <label for="newPwd" class="control-label">新密码：</label>
                            <input type="password" name="newPwd" id="newPwd" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4 col-sm-offset-4">
                            <label for="newPwd2" class="control-label">确认密码：</label>
                            <input type="password" name="newPwd2" id="newPwd2" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-offset-5">
                            <button type="submit" class="btn btn-danger">修改密码</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p class="text-center text-muted">欢迎来到lzhpahntom-Math训练基地</p>
            </div>
        </div>
    </div>
</div>