dl {
    background-color: #e0e0e0;
    padding: 15px 15px;
    min-height: 500px;
}

dd, dt {
    margin-bottom: 15px;
}

dd:hover {
    background-color: #6a6a6a;
}
dt{
    font-size: 24px;
}

dd > a {
    font-size: 18px;
}

dd > a:hover {
    color: #e0e0e0;
}