#basic-title {
    height: 50px;
    line-height: 50px;
}

#basic-title h3 {
    margin-top: 10px;
}

#basic-title div {
    margin-top: 10px;
}

#basic-title div a {
    padding-right: 10px;
}


.pull-right i {
    font-size: 24px;
}

#basic-content tbody tr td, #basic-type tbody tr td {
    vertical-align: middle;
}

table{
    table-layout: fixed;
}

ul.nav li a i{
    padding-right: 8px;
}